// @components/_header.scss

// === IMPORTS ===
@use '@abstracts' as *;

// === LAYOUT ===
.header {
  min-width: 100%;
  @include mix-flex-center();
  background-color: var(--color-header-bg);

  &__content {
    width: 100%;
    max-width: 1440px;
    height: fn-rem(64);
    padding: 0.5rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    @include mix-media(tablet) {
      height: fn-rem(80);
      padding: 1rem;
    }
    @include mix-media(laptop) {
      height: fn-rem(96);
      padding: 1.5rem;
    }
  }

  // === Social navigation ===
  .socials {
    display: flex;
    gap: 0.5rem;

    @include mix-media(tablet) {
      gap: 1rem;
    }
    @include mix-media(laptop) {
      gap: 1.5rem;
    }

    &__link {
      @extend %action-base;
      @extend %action-icon;
      @extend %action-animate;

      .icon__github {
        @include mix-background-img();
        background-image: url('/icons/github-icon.svg');
      }

      .icon__linkedIn {
        @include mix-background-img();
        background-image: url('/icons/linkedIn-icon.png');
      }
    }
  }
}
