// @components/_header.scss

// === IMPORTS ===
@use '@abstracts' as *;

// === LAYOUT ===

// === SKIP LINK ===
// (move to base/_accessibility.scss)
.skip-link {
  @include mix-visually-hidden();

  &:focus {
    @include mix-unhide();
    width: 100%;
    @include mix-flex-center();
    padding: 1rem;
    outline: none;

    & span {
      border-radius: fn-rem(8);
      padding: 0.5rem;
      outline-offset: fn-rem(3);
      @extend %text-nav-action;
    }
  }
}

// === HEADER===
.header {
  min-width: 100%;
  @include mix-flex-center();
  background-color: var(--color-header-bg);

  &__content {
    width: 100%;
    max-width: 1440px;
    height: fn-rem(64);
    padding: 0.5rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    @include mix-media(tablet) {
      height: fn-rem(80);
      padding: 1rem;
    }
    @include mix-media(laptop) {
      height: fn-rem(96);
      padding: 1.5rem;
    }
  }

  // === SOCIAL NAV ===
  .socials {
    display: flex;
    gap: 0.5rem;

    @include mix-media(tablet) {
      gap: 1rem;
    }
    @include mix-media(laptop) {
      gap: 1.5rem;
    }

    &__link {
      @extend %action-base;
      @extend %action-icon;
      @extend %action-animate;

      .icon__github {
        @include mix-background-img();
        background-image: url('/icons/github-icon.svg');
      }

      .icon__linkedIn {
        @include mix-background-img();
        background-image: url('/icons/linkedIn-icon.png');
      }
    }
  }
}

// === COLORS ===

.skip-link {
  &:focus {
    background-color: var(--color-skip-bg);

    & span {
      background-color: var(--color-skip-focus);
      outline: 2px solid var(--color-skip-focus);
    }
  }
}

.header {
  background-color: var(--color-header-bg);
}
