// === IMPORTS ===
@use '@abstracts' as *;

// === LAYOUT ===
.projects {
  width: 100%;
  max-width: fn-rem(1440);
  @include mix-flex-center(column);
  gap: 1rem;
  padding: 1rem;

  @include mix-media(tablet) {
    padding: 2rem;
  }

  &__list {
    @include mix-flex-center();
    gap: 1rem;
    flex-wrap: wrap;
    align-items: start;
  }

  &__card {
    width: 100%;
    min-width: fn-rem(300);
    max-width: fn-rem(450);
    border-radius: fn-rem(8);
  }
}

.project {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  align-items: center;

  border: 2px solid;
  border-radius: fn-rem(8);

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.06);
  transition: box-shadow 0.2s ease;

  &:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); 
  }

  &__image {
    width: 90%;
    height: auto;
    display: block;
    height: auto;
  }

  &__buttons {
    @include mix-flex-center();
    gap: 1rem;
  }
}

.tech {
  @include mix-flex-center();
  flex-wrap: wrap;
  gap: 0.5rem;
}
