// === IMPORTS ===
@use '@abstracts' as *;

// === HEADER ===
.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  min-width: 100%;
  @include mix-flex-center();

  &__content {
    width: 100%;
    max-width: 1440px;
    min-height: fn-rem(64);
    padding: 0.5rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    @include mix-media(tablet) {
      min-height: fn-rem(80);
      padding: 1rem;
    }
    @include mix-media(laptop) {
      min-height: fn-rem(96);
      padding: 1.5rem;
    }
  }
}

main {
  width: 100%;
  min-height: dvh;
  height: 100%;

  background-color: salmon;
}
