// @variables/_colors.scss

// === 🎨 SCSS FONT VARIABLES ===

// === Font Families ===
$font-alegreya: 'Alegreya Sans', sans-serif;
$font-alegreya-SC: 'Alegreya Sans SC', sans-serif;
$font-crimson: 'Crimson Pro', serif;
$font-nunito: 'Nunito', sans-serif;

// === Font weights ===
$font-thin: 100;
$font-light: 200;
$font-regular: 400;
$font-bold: 700;
