// @placeholders/_actions.scss

// === IMPORTS ===
@use '@variables' as *;

// === PLACEHOLDERS ===
%hero-font {
  font-family: $font-alegreya;
  font-style: normal;
  font-weight: $font-regular;
  line-height: 1.15;
  letter-spacing: 0.05rem;
}
